[submodule "gamescope"]
	path = gamescope
	url = git@github.com:ValveSoftware/gamescope.git
[submodule "deps/libffi"]
	path = deps/libffi
	url = https://github.com/libffi/libffi.git
[submodule "deps/libexpat"]
	path = deps/libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "deps/libxkbcommon"]
	path = deps/libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon.git
[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "deps/libandroid-shmem"]
	path = deps/libandroid-shmem
	url = https://github.com/termux/libandroid-shmem.git
[submodule "deps/Vulkan-Headers"]
	path = deps/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "xserver"]
	path = xserver
	url = git@github.com:cassia-org/xserver.git
